.btn {
	background: transparent;
	border: 1px solid var(--text);
	display: inline-block;
	height: 30px;
	border-radius: 15px;
	padding: 0px 20px;
	font-size: 0.7rem;
	cursor: pointer;
	margin-left: 0;
	transition: background 0.5s, border-color 0.5s;

	&.btnLogout {
		background: var(--text);
		color: var(--bg);
	}
}

.btn:hover {
	background: var(--point);
	color: var(--bg);
	border-color: transparent;
}
